{% extends 'layout.html' %}
    

{% block contenido %}
<div class="container mt-4">
<h2 style="text-align: center;"> {{ titulo }} </h2>   
<form action="/formulario_categoria" method="post">
  <div class="form-row">
  </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nombre_categoria">Nombre Categoría</label>
        <input type="text" class="form-control" id="nombre_categoria" name="nombre_categoria" placeholder="Describa el producto (dato único)">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
{% endblock contenido %}
