{% extends 'layout.html' %}
    

{% block contenido %}
<h2> {{ titulo }} </h2>   
<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nombre_cliente">Nombre </label>
        <input type="text" class="form-control" id="nombre_cliente" placeholder="Nombre completo">
      </div>
      <div class="form-group col-md-6">
        <label for="tipo_identificacion">Tipo identificación</label>
        <input type="text" class="form-control" id="tipo_identificacion">
      </div>
      <div class="form-group col-md-6">
        <label for="numero_documento">Número del documento</label>
        <input type="number" class="form-control" id="numero_documento">
      </div>
      <div class="form-group col-md-6">
        <label for="telefono">Teléfono</label>
        <input type="number" class="form-control" id="telefono">
      </div>
      <div class="form-group col-md-6">
        <label for="fecha_de_nacimiento">Fecha de nacimiento</label>
        <input type="number" class="form-control" id="fecha_de_nacimiento">
      </div>
      <div class="form-group col-md-6">
        <label for="correo">Correo electrónico</label>
        <input type="email" class="form-control" id="correo" placeholder="example@example.com">
        <span id="emailError" class="alert alert-danger" role="alert" style="display: none;">Por favor, ingresa un correo válido.</span>
    </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="tipo_de_documento">Tipo de documento</label>
        <select id="tipo_de_documento" class="form-control">
          <option selected>Por favor seleccione...</option>
          <option value="cedula_de_ciudadania">Cédula de ciudadania</option>
          <option value="tarjeta_de_identidad">Tarjeta de Identidad</option>
        </select>
      </div>
      
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>  
  <script type="text/javascript">
    function validarEmail(email) {
    var regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return regex.test(email);
}

document.getElementById("correo").addEventListener("blur", function() {
    var email = this.value;
    var errorMensaje = document.getElementById("emailError");

    if (!validarEmail(email)) {
        errorMensaje.style.display = "block";
    } else {
        errorMensaje.style.display = "none";
    }
}); 
  </script>
{% endblock contenido %}
