{% extends 'layout.html' %}
    

{% block contenido %}
<h2 style="text-align: center;"> {{ titulo }} </h2>   
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tipo de usuario</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo de identificación</th>
        <th scope="col">Núemro de documento</th>
        <th scope="col">Telefóno</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Dirección</th>
        <th scope="col">Correo</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{usuario.tipo_usuario}}</td>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.tipo_de_documento}}</td>
        <td>{{usuario.numero_documento}}</td>
        <td>{{usuario.telefono}}</td>
        <td>{{usuario.fecha_nacimiento}}</td>
        <td>{{usuario.direccion}}</td>
        <td>{{usuario.correo}}</td>
        <td>
          <button type="button" class="btn btn-success">Editar</button>
          <button type="button" class="btn btn-danger">Borrar</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock contenido %}
