{% extends 'layout.html' %}
    

{% block contenido %}
<h2> {{ titulo }} </h2>   
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID Factura</th>
        <th scope="col">Fecha</th>
        <th scope="col">Cliente</th>
        <th scope="col">Administrador</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>invoice 001</td>
        <td>15/03/2025</td>
        <td>Marly Alejandra Gutierrez</td>
        <td>Jorge Ballesteros</td>
      </tr>
    </tbody>
      <tr>
        <th scope="row"></th>
        <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Productos</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Categoria</th>    
              <th scope="col">Precio</th>
              <th scope="col">Total unitario</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Pan tajado bolsa 200 grs</td>
            <td>1</td>
            <td>Alimentos</td>
            <td>5000</td>
            <td>5000</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Camiseta Arcane</td>
            <td>1</td>
            <td>Ropa</td>
            <td>50000</td>
            <td>50000</td>
          </tr>
          </tbody>
          <thead class="thead-dark">
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>55000</td>
            </tr>
          </tbody>                     
      </tr> 


  </table>
  
{% endblock contenido %}
