{% extends 'layout.html' %}
    

{% block contenido %}
<h2> {{ titulo }} </h2>   
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo de identificación</th>
        <th scope="col">Número del documento</th>
        <th scope="col">Telefóno</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Marly Alejandra Gutierrez Joven</td>
        <td>CC</td>
        <td>1082160048</td>
        <td>3112087752</td>
        <td>05/08/1998</td>
        <td>
          <button type="button" class="btn btn-success">Editar</button>
          <button type="button" class="btn btn-danger">Borrar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Alisson Dayana Chaux</td>
        <td>TI</td>
        <td>1082157120</td>
        <td>31189997484</td>
        <td>29/07/2015</td>                     
        <td>
          <button type="button" class="btn btn-success">Editar</button>
          <button type="button" class="btn btn-danger">Borrar</button>
        </td>
      </tr> 

    </tbody>
  </table>

{% endblock contenido %}