{% extends 'layout.html' %}
    

{% block contenido %}
<div class="container mt-4">
<h2 style="text-align: center;"> {{ titulo }} </h2>   
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID Factura</th>
        <th scope="col">Fecha</th>
        <th scope="col">Cliente</th>
        <th scope="col">Vendedor</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for factura in facturas %}
      <tr>
        <td>{{factura.id_factura}}</td>
        <td>{{factura.fecha}}</td>
        <td>{{factura.cliente}}</td>
        <td>{{factura.vendedor}}</td>
      </tr>
      {% endfor %}
    </tbody>  
    <tr>
        <th scope="row"></th>
        <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Productos</th>
              <th scope="col">Cantidad</th> 
              <th scope="col">Precio</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for factura in facturas %}
            <tr>
              <th scope="col">{{ loop.index }}</th>
              <th scope="col">{{factura.producto}}</th>
              <th scope="col">{{factura.cantidad | round(0) if factura.cantidad is number else factura.cantidad}}</th>   
              <th scope="col">${{"%.2f"|format (factura.precio) if factura.precio is number else factura.precio}}</th>
              <th scope="col">${{"%.2f"|format (factura.total) if factura.total is number else factura.total}}</th>
            </tr>
            {% endfor %}
          </tbody>
      </tr> 
    </tabl>
   </div>  
{% endblock contenido %}
