{% extends 'layout.html' %}
    

{% block contenido %}
<h2> {{ titulo }} </h2>   
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tipo de usuario</th>
        <th scope="col">Nombre</th>
        <th scope="col">ID ususario</th>
        <th scope="col">contraseña</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Administrador</td>
        <td>Jorge Ballestero</td>
        <td>admin001</td>
        <td>2005</td>
        <td>
          <button type="button" class="btn btn-success">Editar</button>
          <button type="button" class="btn btn-danger">Borrar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Cliente</td>
        <td>Marly Alejandra Gutierrez Joven</td>
        <td>customer001</td>
        <td>1895</td>               
        <td>
          <button type="button" class="btn btn-success">Editar</button>
          <button type="button" class="btn btn-danger">Borrar</button>
        </td>
      </tr> 

    </tbody>
  </table>
{% endblock contenido %}
