{% extends 'layout.html' %}
    

{% block contenido %}
<h2 style="text-align: center;"> {{ titulo }} </h2>   
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Código</th>
        <th scope="col">Descripción</th>
        <th scope="col">Valor Unitario</th>
        <th scope="col">Unidad de Medida</th>
        <th scope="col">Cantidad Inventario</th>
        <th scope="col">Categoria</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <th>{{producto.codigo}}</th>
        <td>{{producto.descripcion}}</td>
        <td>${{"%.2f"|format(producto.valor_unitario) if producto.valor_unitario is number else producto.valor_unitario}}</td>
        <td>{{producto.unidad_medida}}</td>
        <td>{{producto.cantidad_stock | round(0) if producto.cantidad_stock is number else producto.cantidad_stock}}</td>
        <td>{{producto.categoria}}</td>
        <td>
          <button type="button" class="btn btn-success">Editar</button>
          <button type="button" class="btn btn-danger">Borrar</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock contenido %}