{% extends 'layout.html' %}
    

{% block contenido %}
<div class="container mt-8">
<h2 style="text-align: center;"> {{ titulo }} </h2>   
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre de la categoria</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for categoria in categorias %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{categoria.nombre_categoria}}</td>
        <td>
          <button type="button" class="btn btn-success">Editar</button>
          <button type="button" class="btn btn-danger">Borrar</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock contenido %}